:host {
        background-color: var(--mdc-theme-primary);
        height: 64px;
        display: flex;
        padding: 0 24px;
      }
      header {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: var(--ult-space);

        margin-inline: auto;
        width: var(--ult-page-width);

        h1 {
          margin: 0;
          color: var(--mdc-theme-secondary);
          margin-right: 8px;
          text-transform: uppercase;
        }
      }
